/* body,
html {
  overflow: hidden;
} */


body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/images.png");
      background-repeat: no-repeat !important;
      background-size: cover !important;
  
}



/*---------------------------- Navigation Bar ----------------------------*/
.navbar-brand {
  color: black;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 3px 3px black;

}
.navbar-brand:hover {
  transform: scale(1.1);
}
.nav-item {
  margin-right: 10px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 3px 3px black;
}
.nav-item:hover{

  transform: scale(1.1);
  background-color: white;
  color: black;
  
}

.time p span{
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 3px 3px black;
}
.b1 {
 box-shadow: 3px 3px 3px black;
 font-size: 120px;
}

.container {
  position: relative;
  height: 100vh;
  max-height: 100vh;
}

.main {
  display: flex;
  overflow-y: scroll;
  height: 85%;    
  /* align-self: stretch; */
}

#addMessageForm {
  background: white;
  padding: 0.5em;
  z-index: 999;
}

#newMessageTextArea {
  resize: vertical;
  max-height: 200px;
}

.addMessageRow {
  height: 15%;
}

.message_card {
  border-radius: 1em;
  color: white;
  background-color:rgb(85, 85, 85);
  min-width: min-content;
  max-width: 50%;
  padding: 0.5em;
  margin: 0.5em;
  word-break: break-all;
}

.author_badge {
  background-color: rgb(171, 177, 211);
  color: black;
}

.author_you {
  background-color: blanchedalmond;
  color: black;
}

.author_you::after {
  content: "(You)";
}

.message_card_you {
  margin-left: auto;
  background-color: white;
  color: black;
}

.player-card {
  font-size: 12px;
  padding: 0.25em;
  margin: 0.5em 0.25em;
  border-radius: 0.25em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: white;
}
.player-card button{
  width: 15%;
  height: 20px;
  font-size: 10px;
}

.lobby-details {
  position: absolute;

}

#users-container {
  padding: 0 1em;
}
.title1{
  font-family: 'Bebas Neue', cursive;
  text-shadow: 3px 3px 3px black;
}


@media only screen and (max-width: 768px) {
  .lobby-details {
    position: initial;
    z-index: initial;
  }
}