body {
  background-color: black;
}

.card-link {
  color: black;
  text-decoration: none !important;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
    url("../img/com.mobile.legends.sc0.2020-09-29-17-21-38.jpg");
  background-position: 50% 50%;
  background-size: cover;
}
/*---------------------------- Navigation Bar ----------------------------*/
.navbar-brand {
  color: black;
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px 3px black;
}
.navbar-brand:hover {
  transform: scale(1.1);
}
.nav-item {
  margin-right: 10px;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  text-shadow: 3px 3px 3px black;
}
.nav-item:hover {
  transform: scale(1.1);
  background-color: brown;
  color: black;
}

.time p {
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px 3px black;
  color: white;
}
.btn1 {
  box-shadow: 3px 3px 3px black;
}

.card {
  background-image: url("../img/wp2945078.jpg");
  box-shadow: 3px 3px 3px black;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.card:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
h1 {
  font-family: "Bebas Neue", cursive;
  text-shadow: 3px 3px 3px black;
}
.p2 {
  font-size: 20px;
  text-shadow: 3px 3px 3px black;
}
.bg2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/9112b576009313.5c5ca8e8c45c3.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.awut:hover {
  transform: scale(1.1);
  color: black;
}
h2 {
  font-family: "Titillium Web", sans-serif;
}
.box {
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
}
